*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#fff7fb;
}

header{

background:linear-gradient(
45deg,
#ffe3ef,
#ffc2db
);

padding:15px;

position:sticky;
top:0;

box-shadow:0 3px 10px rgba(0,0,0,.1);

}

.logo{

font-family:'Great Vibes',cursive;
font-size:45px;
text-align:center;
color:#ff1493;

}

nav{

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:10px;
margin-top:15px;

}

nav button{

padding:10px 20px;
border:none;
border-radius:25px;
cursor:pointer;

background:white;
color:#ff1493;
font-weight:bold;

}

nav button:hover{

background:#ff1493;
color:white;

}

.page{

display:none;
padding:25px;

}

.active{

display:block;

}

.hero{

height:450px;

border-radius:30px;

background:
linear-gradient(
rgba(255,182,193,.4),
rgba(255,182,193,.4)
),

url("https://images.unsplash.com/photo-1552566626-52f8b828add9?w=1200");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

color:white;
text-align:center;

}

.hero h1{

font-size:65px;
font-family:'Great Vibes',cursive;

}

.section-title{

text-align:center;
font-size:35px;
color:#ff1493;
margin:30px;

}

.menu-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}

.card{

background:white;
border-radius:20px;
overflow:hidden;

box-shadow:0 0 10px lightgray;

}

.card img{

width:100%;
height:220px;
object-fit:cover;

}

.card h3{

padding:10px;
color:#ff1493;

}

.price{

padding-left:10px;
font-size:22px;
font-weight:bold;
color:#ff1493;

}

.offer{

padding:10px;
color:red;

}

.btn{

padding:12px;
width:90%;
margin:10px;
border:none;
border-radius:25px;

background:#ffb6c1;
color:white;

cursor:pointer;

}

.booking,
.about,
.contact{

background:white;
padding:25px;
border-radius:20px;

max-width:600px;
margin:auto;

}

input,
textarea{

width:100%;
padding:12px;
margin:10px 0;

border-radius:10px;
border:1px solid pink;

}

footer{

background:#ffc2db;
padding:25px;
text-align:center;
margin-top:40px;

}